{% extends "base.html" %} {% block extrahead %} {{ super() }}
<meta
    name="description"
    content="A guide to deploy your own censorship circumvention tools."
/>
<meta name="author" content="Zenith Rifle" />
<meta name="robots" content="index, follow" />

<!-- Open Graph -->
<meta property="og:title" content="Censorship Bypass Guide" />
<meta
    property="og:description"
    content="A guide to deploy your own censorship circumvention tools."
/>
<meta property="og:type" content="website" />
<meta property="og:url" content="https://2305878273.7844380499.cfd" />
<meta property="og:image" content="https://files.catbox.moe/1mcjvr.png" />

<!-- Twitter -->
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content="Access Freely, Bypass Censorship." />
<meta
    name="twitter:description"
    content="A guide to deploy your own censorship circumvention tools."
/>
<meta name="twitter:image" content="https://files.catbox.moe/1mcjvr.png" />

<link rel="canonical" href="https://yourdomain.com/" />
<link rel="icon" href="/favicon.ico" />
{% endblock %}
